.SalesOpp-Window {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
}

.Sales-Form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;
    max-width: 600px;
    align-self: center;
    padding: 25px;
    border: 2px solid #32584F;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}

.SF-Title {
    font-size: 30px;
    color:#32584F;
    font-weight: 700;
    text-decoration: underline;
    margin: 0px 0px 15px 0px;
}


.SF-Dynamic-Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    margin: 5px 0px;
}

.SF-Label {
    font-size: 18px;
    font-weight: 500;
}

.SF-Input {
    width:100%;
    height:var(--inputHeight);
}

.SF-Input-Area {
    height:var(--inputAreaHeight);
    resize: none;
}

.SF-Error {
    font-size: 15px;
    color: red;
}

.SF-Message {
    font-size: 15px;
    color: var(--submitMessage);
}

.SF-Button-Group {
    margin-top: 10px;
}

.SF-Button {
    padding: 5px;
    width: 100px;
    font-size: 18px;
}

.SF-Button:hover {
    cursor: pointer;
}

.SF-Submit-Button{
    background-color: #32584F;
    color: white;
    margin-left: 40px;
}

.SF-Submit-Button:hover {
    background-color: #4b8175;
}

.SalesOpp-Right-Panel-Window {
    margin-top: 25px;
    margin-left: 5%;
    width: 30%;
    height: 100%;
}

.SalesOpp-Directions {
    width: 100%;
}

.SalesOpp-Upload-Window {
    width: 100%;
}

.SalesOpp-Upload-Portal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SD-Title {
    font-size: 20px;
    font-weight: 500;
    color: #32584F;
    text-decoration: underline;
    margin-bottom: 20px;
}

.SD-Primary {
    font-size: 16px;
}